@font-face {
  font-family: poppins-medium;
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: poppins-semibold;
  src: url(../fonts/Poppins-SemiBold.ttf);
}

@font-face {
  font-family: poppins-bold-italic;
  src: url(../fonts/Poppins-BoldItalic.ttf);
}

@font-face {
  font-family: poppins-bold;
  src: url(../fonts/Poppins-Bold.ttf);
}

html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(180deg, #ffffff 0%, #f4fffd 100%);
}
br {
  content: "";
  display: block;
  margin-top: 9px;
}

.content-wrapper {
  display: table;
  width: 768px;
  margin: 0 auto;
  height: 100%;
}
.header {
  position: relative;
}
.header .merchant-logo {
  position: absolute;
  top: 12px;
  left: 0;
}
.header img {
  float: left;
}
.header .merchant-logo img {
  max-height: 64px;
}
.header .bank-logo {
  position: absolute;
  height: 40px;
  top: 24px;
  right: 0;
}
.header .merchant-logo .title {
  font-family: poppins-medium;
  font-size: 24px;
  white-space: nowrap;
  display: table;
  padding-left: 8px;
  margin-top: 20px;
}
.content {
  background: #ffffff;
  box-shadow: 0px 0px 32px rgba(160,186,173,0.4);
  border-radius: 16px;
  margin-top: 90px;
}
.content .form-container {
  position: relative;
  padding: 24px;
}
.title {
  font-family: poppins-medium;
  font-size: 24px;
}
.qr-content .lanka-qr-logo {
  text-align: center;
}

.qr-content .lanka-qr-logo img {
  height: 86px;
}

.qr-content .qr-wrapper {
  text-align: center;
  margin-top: 16px;
}

.qr-content .qr-wrapper img {
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.qr-content .store-details,
.scan-instruction {
  text-align: center;
  margin-top: 16px;
  font-size: 14px;
}

.qr-content .store-details {
  font-family: poppins-bold;
  color: #201c50;
}

.qr-content .store-details span {
  display: block;
  margin-top: -12px;
  color: #333333;
}

.qr-content .scan-instruction {
  font-family: poppins-medium;
  line-height: 100%;
}

.qr-content .download-button {
  text-align: center;
  margin-bottom: 48px;
  margin-top: 16px;
}

.qr-content .download-button button {
  text-align: center;
  background: none;
  border: none;
  padding: 0px;
  border-radius: 20px;
}

.qr-content .download-button button:hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.qr-content .download-button button img {
  height: 40px;
}

.qr-content .app-list {
  display: table;
  margin: 0 auto;
}

.qr-content .app-list .list-item {
  padding: 8px;
  border-radius: 8px;
  background: #ffffff;
  display: inline-block;
  margin: 8px;
  cursor: pointer;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
}

.qr-content .app-list .list-item img {
  width: 48px;
  height: 48px;
}
.footer {
  text-align: center;
}
.footer .bank-logo {
  display: none;
  margin: 16px auto;
}
.footer .epicpay-logo {
  margin: 16px auto;
  height: 40px;
}

@media only screen and (min-width: 425px) and (max-width: 1008px) {
  .content-wrapper {
    width: calc(100% - 24px);
    padding-left: 12px;
    padding-right: 12px;
  }
}
@media only screen and (max-width: 425px) {
  .content-wrapper {
    width: calc(100% - 24px);
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
  }
  .header {
    text-align: center;
    margin-top: 12px;
  }
  .header .merchant-logo {
    position: static;
    display: inline-block;
    margin: 0 auto;
  }
  .header .merchant-logo img {
    max-height: 40px;
    max-width: 60px;
  }
  .header .merchant-logo .title {
    font-size: 18px;
    padding-left: 8px;
    margin-top: 6px;
  }
  .title {
    font-size: 18px;
  }
  .header .bank-logo {
    display: none;
  }
  .content {
    border-radius: 8px;
    margin-top: 12px;
  }
  .footer .bank-logo {
    display: inline;
    height: 26px;
  }
  .footer .epicpay-logo {
    height: 26px;
    margin-left: 16px;
  }
}

.msg-content {
  padding-bottom: 25px;
}

.msg-content .redirect-details {
  font-family: poppins-bold;
  color: #201c50;
  font-size: 20px;
  text-align: center;
  margin-top: 16px;
}

.msg-content .redirect-details span {
  display: block;
  margin-top: -12px;
  color: #333333;
  font-size: 14px;
  font-family: "poppins-medium";
}
